
body{
font-family:Arial;
background:#f3efe9;
margin:0;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
color:white;
}

.topButtons button{
padding:12px 18px;
border-radius:30px;
border:0;
cursor:pointer;
font-weight:bold;
}

.categories{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px;
}

.category{
background:#111;
color:white;
padding:60px 20px;
border-radius:20px;
cursor:pointer;
font-size:28px;
font-weight:bold;
text-align:center;
}

.products{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:40px;
}

.product{
background:white;
border-radius:20px;
padding:20px;
cursor:pointer;
}

.modal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,.7);
justify-content:center;
align-items:center;
z-index:100;
}

.modalContent{
background:white;
padding:30px;
border-radius:20px;
width:90%;
max-width:500px;
}

.closeBtn{
float:right;
border:0;
background:black;
color:white;
padding:10px;
cursor:pointer;
border-radius:50%;
}

.buyBtn{
width:100%;
padding:15px;
margin-top:20px;
border:0;
background:black;
color:white;
border-radius:30px;
font-weight:bold;
cursor:pointer;
}

select{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:20px;
}

.cartItem{
background:#f3efe9;
padding:10px;
border-radius:10px;
margin-bottom:10px;
}
